#headingstyle{
  color: purple;
}

body{
  background-color: lavender;
}

.no-bullet{
  list-style-type: none;
}

.nav-tab{
  border-style: ridge;
}

.navigation{
  color: navy;
}

.navigation:hover{
  color: blue;
}

.textstyle{
  color: darkblue;
}

.textstyle2{
  color: indigo;
}

.sansserif{
  font-family: Verdana, sans-serif;
}

.serif{
  font-family: Garamond, serif;
}

.mainfont{
  font-size: 20px;
}

.choicesfont{
  font-size: 16px;
}

.sourceref{
  font-size: 12px;
}
